@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.gral--margin {
    margin: 150px;

    @include responsiveMin {
        margin: 20px;
    }

    @include responsive2 {
        margin: 20px 50px;
    }

    @include responsive3{
        margin: 20px 50px;
    }

    @include responsive4{
        margin: 20px 50px;
    }

    @include responsive5{
        margin: 150px 50px 50px;
    }

    @include responsiveMax{
        margin: 150px 50px 50px;
    }
}

.bloque__titulo{
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: #bb2581;
}

.bloque__border{
    border: 1px solid #79064d;
    border-radius: 20px;
}

.bloque__padding{
    padding: 20px;
}

.bloque__bottom--margin{
    margin-bottom: 75px;
}

.historia--grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 300px;
    row-gap: 100px;

    @include responsiveMin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    @include responsive2{
        row-gap: 10px;
    }

    @include responsive3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    @include responsive4{
        grid-template-rows: auto;
    }

    @include responsive5{
        grid-template-rows: auto;
    }

    @include responsiveMax{
        grid-template-rows: auto;
    }
}

.historia--order{
    order: 1;

    @include responsive2{
        order: -1;
    }

    @include responsive3{
        order: -1;
    }
}

