@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.gral--margin {
    margin: 150px;
}

.bloque__titulo{
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: #bb2581;
}

.bloque__border{
    border: 1px solid #79064d;
    border-radius: 20px;
}

.bloque__padding{
    padding: 20px;
}

.bloque__bottom--margin{
    margin-bottom: 75px;
}

.historia--grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 300px;
    row-gap: 100px;
}

.historia--order{
    order: 1;
}

