/* acá van las clases repetidas, el reset de csss y estilos básicos del sitio, variables... etc */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.gral--margin {
    margin: $main-margin;
}

.bloque__titulo{
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: $secondary-color;
}

.bloque__border{
    border: 1px solid $main-color;
    border-radius: 20px;
}

.bloque__padding{
    padding: $bloques-padding;
}

.bloque__bottom--margin{
    margin-bottom: 75px;
}

.forms--color{
    color: #ffffff;
}

.historia--grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 300px;
    row-gap: 100px;
}

.historia--order{
    order: 1;
}