
@media only screen and (min-width: 350px) and (max-width: 480px){

    .gral--margin{
        margin: 20px;
    }

    .header__lista__menu{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .welcome__titulo{
        font-size: 5em;
    }

    .welcome__parrafo{
        font-size: 1em;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .img__section{
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .container__titulo{
        color: #c669a2;
    }

    .demo__container{
        background-color: #ffffff00;
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .demo__img{
        width: 100%;
        height: auto;
        box-shadow: 4px 2px #c669a2;
    }

    .historia--grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .bloque__contacto{
        padding: 10px;
    }

    .forms__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .forms__buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .buttons__adjuntar{
        text-align: center;
    }

    .adjunto__button{
        width: 200px;
    }

    .contacto__whatsapp{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .contacto__titulo{
        text-align: center;
    }

    .section__contacto{
        margin: 10px 0;
    }

    .forms__subtitulo{
        text-align: center;
    }

    .datos__personales{
        width: 200px;
    }

    .solicitud__button{
        padding: 5px;
        border: 5px dotted #ffffff;
        box-shadow: none;
        width: 100px;
    }

    .solicitud__link{
        font-size: 1em;
    }

    .bloque__solicitud{
        position: sticky;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(1,auto);
    }

    .testimonio__card{
        width: auto;
        flex-direction: row;
        align-items: center;
    }

    .market__filtros{
        flex-direction: column;
        gap: 5px;
    }

    .productos__section{
        grid-template-columns: repeat(1, auto);
    }

}

@media only screen and (min-width: 481px) and (max-width: 576px){

    .gral--margin{
        margin: 20px 50px;
    }

    .demo__container{
        padding: 20px;
    }

    .img__section{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .bloque__solicitud{
        width: 80px;
        height: auto;
        position: sticky;
        left: 370px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        box-shadow: none;
        padding: 10px;
        background-color: #79064d;
    }

    .solicitud__link{
        font-size: 1em;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .historia--order{
        order: -1;
    }

    .historia__container{
        display: flex;
        flex-direction: column;
    }

    .historia--grid{
        row-gap: 10px;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .header__lista__menu{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .section__contacto{
        margin: 10px;
    }

    .contacto__titulo{
        text-align: center;
    }

    .forms__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .datos__personales{
        width: 250px;
    }

    .forms__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .buttons__adjuntar{
        text-align: center;
    }

    .adjunto__button{
        width: 200px;
    }

    .contacto__whatsapp{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(1,auto);
    }

    .testimonio__card{
        width: auto;
        flex-direction: row;
        align-items: center;
    }

    .market__filtros{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .productos__section{
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {

    .gral--margin{
        margin: 20px 50px;
    }

    .demo__container{
        padding: 20px;
    }

    .bloque__solicitud{
        width: 100px;
        height: auto;
        right: 30px;
        bottom: 40px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        box-shadow: none;
    }

    .solicitud__link{
        font-size: 1em;
    }

    .img__section{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .demo__img{
        box-shadow: 4px 2px #c669a2;
    }

    .demo__container{
        background-color: #ffffff00;
    }

    .container__titulo{
        color: #c669a2;
    }

    .header__lista__menu{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .historia--order{
        order: -1;
    }

    .historia--grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .section__contacto{
        margin: 10px;
    }

    .forms__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .forms__buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .buttons__adjuntar{
        text-align: center;
    }

    .adjunto__button{
        width: 200px;
    }

    .contacto__whatsapp{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .contacto__titulo{
        text-align: center;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(2,auto);
    }

    .testimonio__card{
        width: auto;
    }

    .market__filtros{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .productos__section{
        grid-template-columns: repeat(3, auto);
        row-gap: 20px;
    }

    .producto__card{
        margin: 0;
        padding: 5px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .gral--margin{
        margin: 20px 50px;
    }

    .header__lista__menu{
        padding: 10px;
        background-color: #ffffff;
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
        font-size: 1.5em;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .historia--grid{
        grid-template-rows: auto;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .contacto__whatsapp{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .contacto__titulo{
        text-align: center;
    }

    .forms__datos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .forms__buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .section__contacto{
        margin: 20px;
    }

    .img__section{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .bloque__solicitud{
        width: 100px;
        height: auto;
        right: 50px;
        bottom: 40px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        background-color: #79064d;
        box-shadow: none;
    }

    .solicitud__link{
        font-size: 1.5em;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(2,auto);
    }

    .testimonio__card{
        width: auto;
    }

    .market__filtros{
        justify-content: center;
        align-items: end;
        gap: 2px;
    }

    .productos__section{
        grid-template-columns: repeat(4, auto);
        column-gap: 5px;
        row-gap: 10px;
    }

    .producto__card{
        margin: 2px;
        padding: 5px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .gral--margin{
        margin: 150px 50px 50px;
    }

    .header__item__menu {
        font-size: 1.5em;
        border: 1px solid #ffffff;
        border-radius: 20px;
    }

    .header__lista__menu{
        padding: 5px;
    }

    .historia--grid{
        grid-template-rows: auto;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .bloque__solicitud{
        width: 100px;
        height: auto;
        right: 80px;
        bottom: 50px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        background-color: #79064d;
        box-shadow: none;
    }

    .solicitud__link{
        font-size: 2em;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(3, auto);
    }

    .testimonio__card{
        width: auto;
    }

    .producto__card{
        margin: 5px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {

    .gral--margin{
        margin: 150px 50px 50px;
    }

    .header__item__menu {
        border: 1px solid #ffffff;
        border-radius: 20px;
    }

    .header__lista__menu{
        padding: 5px;
    }

    .historia--grid{
        grid-template-rows: auto;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .testimonio__card{
        width: auto;
    }

}