.faqs__preguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .preguntas__titulo{
        font-size: 1.5em;
        color: $mix-color;
    }

    .preguntas__card{
        margin: 5px;
        padding: 10px;
        border: 1px solid $main-color;
        border-radius: 20px;
    
        .card__titulo{
            color: $mix-color;
            padding: 2px;
            font-size: 1em;
        }
    
        .card__parrafo{
            padding: 2px;
            font-style: italic;
        }
    }
}



