.bloque__main {
    .bloque__welcome {
        max-width: 100vw;
        position: relative;

        .welcome__text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.156);

            .welcome__titulo {
                font-size: 6em;
                font-weight: 900;
                text-align: center;
                color: #bb2581;
                text-shadow: 2px 3px #ffffff;
            }

            .welcome__subtitulo {
                font-size: 1em;
                font-weight: 500;
                text-align: center;
                color: #ffffff;
                font-style: italic;
            }

            .welcome__parrafo {
                padding: 10px;
                font-size: 1.5em;
                text-align: center;
                color: #ffffff;
            }
        }

        .welcome__video {
            max-width: 100%;
        }

    }

    .bloque__demo {
        margin-top: 30px;

        .demo__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid #79064d;
            border-radius: 20px;
            margin: 20px;
            padding: 20px;

            .container__titulo {
                font-size: 2em;
                font-weight: bold;
                color: #c669a2;
                margin: 20px;
                margin: 50px 10px 20px;
            }

            .img__section {
                display: grid;
                grid-template-columns: repeat(4, 200px);
                grid-template-rows: repeat(2, 200px);
                row-gap: 10px;
                column-gap: 20px;
                padding: 10px;

                .demo__img {
                    width: 200px;
                    height: 200px;
                    border-radius: 20px;
                    filter: drop-shadow(2px 2px #c669a2);
                }
            }
        }
    }

    .bloque__solicitud {
        position: fixed;
        right: 50px;
        bottom: 50px;

        .solicitud__button {
            border-radius: 20px;
            padding: 15px;
            background-color: #c669a2;
            border: 2px solid #ffffff;
            box-shadow: 5px 3px #ff46b8;



            .solicitud__link {
                text-decoration: none;
                color: #ffffff;
                font-size: 1.5em;
                font-weight: 500;
            }
        }

        animation-name: button-animation;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 1.5;
        animation-delay: 2s;
    }
}