.bloque__market{

    .market__filtros{
        margin: 10px 0;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #c669a2;
        border-radius: 20px;

        @include responsiveMin{
            flex-direction: column;
            gap: 5px;
        }

        @include responsive2{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        @include responsive3{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        @include responsive4{
            justify-content: center;
            align-items: end;
            gap: 2px;
        }
    
        .market__parrafo{
            font-size: 0.8em;
            font-style: italic;
            font-weight: bold;
            color: #ffffff;
        }
    
        .search {
            padding: 5px;
            border: 2px dotted #79064d;
            border-radius: 20px;
            width: 300px;
        }
    
        .filtro__text{
            color: #ffffff;
        }
    
        .select__option{
            padding: 5px;
            border: 2px solid #79064d;
            border-radius: 20px;
            width: 200px;
        
            .option--titulo{
                color: #bb2581;
        
                .option__name{
                    color: black;
                }
            }
        }
        .producto__cart__link{
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }
    }
}

/* queda comentado porque están funcionando las cards por separado en components products

    .market__productos__cards {
        padding: 10px;
        overflow: scroll;
        height: 1200px;
    
        .productos__section{
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-template-rows: auto;
            align-items: center;
            justify-content: center;
            gap: 5px;
        
            .producto__card{
                width: auto;
                height: auto;
                margin: 10px;
                padding: 7px;
                border: 1px solid #79064d;
                border-radius: 20px;
                box-shadow: 2px 1px 5px #0000008a;
            
                .producto__img{
                    width: 100%;
                    height: 200px;
                    border-radius: 5px;
                    object-fit: cover;
                }
            
                .producto__info{
                    width: 100%;
                    height: auto;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2px;
                
                    .producto__name{
                        font-size: 1em;
                        font-weight: bold;
                        color: #79064d;
                    }
                    
                    .producto__detalle{
                        font-size: 1em;
                        color: black;
                    }
                }
                
                .producto__priceAndButton{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                
                    .producto__button__link{
                        text-decoration: none;
                        color: #ffffff;
                        background-color: #bb2581;
                        padding: 5px 10px;
                        border-radius: 50px;
                    }
                }
            }
        }
    } */









