.bloque__market {

    .market__filtros {
        margin: 10px 0;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $alternative-color;
        border-radius: 20px;

        .market__parrafo {
            font-size: 0.8em;
            font-style: italic;
            font-weight: bold;
            color: #ffffff;
        }

        .search__bar {

            .search {
                padding: 5px;
                border: 2px dotted $main-color;
                border-radius: 20px;
                width: 300px;
            }
        }

        .dropdown__fileter {

            .filtro__text {
                color: #ffffff;
            }

            .select__option {
                padding: 5px;
                border: 2px solid $main-color;
                border-radius: 20px;
                width: 200px;

                .option--titulo {
                    color: $secondary-color;

                    .option__name {
                        color: black;
                    }
                }
            }

        }

        .producto__cart {

            .producto__cart__link {
                text-decoration: none;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }

    .market__productos__cards {

        padding: 10px;
        overflow: scroll;
        height: 1200px;

        .productos__section {
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-template-rows: auto;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }
}