.bloque__faqs{

    .bloque__preguntas{

        .faqs__preguntas{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .preguntas__titulo{
                font-size: 1em;
                color: $main-color;
            }

            .preguntas__card{
                margin: 5px;
                padding: 10px;
                border: 1px solid $main-color;
                border-radius: 20px;
            }
        }
    }
}





