.bloque__testimonios {

    .testimonios__section {

        .testimonios__reviews {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: auto;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }
}