.testimonios__reviews{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .testimonio__card{
        display: flex;
        flex-direction: column;
        gap: 20px;   
        width: auto;
        height: auto;
        margin: 5px;
        padding: 10px;
        border: 1px solid #79064d;
        border-radius: 20px 2px 20px 20px;
        box-shadow: 5px 5px 5px #c669a2;
    
        .testimonio__card__info{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 50%;
        
            .testimonio__img{
                width: 100px;
                height: auto;
                border-radius: 20px;
                object-fit: cover;
                filter: drop-shadow(1px 1px 2px black);
            }
            
            .testimonio__name{
                font-size: 1em;
                color: #79064d;
                justify-self: center;
            }
            
        }
        
        .testimonio__parrafo{
            font-size: 1em;
            color: black;
            font-style: italic;
        }
    }
}

.market__productos__cards {
    padding: 10px;
    overflow: scroll;
    height: 1200px;

    .productos__section{
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
        gap: 5px;
    
        .producto__card{
            width: auto;
            height: auto;
            margin: 10px;
            padding: 7px;
            border: 1px solid #79064d;
            border-radius: 20px;
            box-shadow: 2px 1px 5px #0000008a;
        
            .producto__img{
                width: 100%;
                height: 200px;
                border-radius: 5px;
                object-fit: cover;
            }
        
            .producto__info{
                width: 100%;
                height: auto;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2px;
            
                .producto__name{
                    font-size: 1em;
                    font-weight: bold;
                    color: #79064d;
                }
                
                .producto__detalle{
                    font-size: 1em;
                    color: black;
                }
            }
            
            .producto__priceAndButton{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 50px;
            
                .producto__button__link{
                    text-decoration: none;
                    color: #ffffff;
                    background-color: #bb2581;
                    padding: 5px 10px;
                    border-radius: 50px;
                }
            }
        }
    }
}