.bloque__footer {
    margin: 25px;

    .footer__elements{

        .footer__titulo {
            text-align: center;
            color: $secondary-color;
        }

        .footer__list__redes {
            margin: 50px;
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 100px;

            .footer__redes__item {
                list-style-type: none;

                .footer__redes__link {
                    color: $secondary-color;
                    text-decoration: none;
                }
            }
        }
    }

    .footer__copyright{
        text-align: center;
        font-weight: bold;
        font-family: monospace;
        color: rgb(41, 146, 41);

        .copyright__link {
            font-size: 1em;
            color: rgb(25, 255, 25);
            text-decoration: underline;
        }
    }
}




