@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.gral--margin {
    margin: 150px;
}

.bloque__titulo{
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: #bb2581;
}

.bloque__border{
    border: 1px solid #79064d;
    border-radius: 20px;
}

.bloque__padding{
    padding: 20px;
}

.bloque__bottom--margin{
    margin-bottom: 75px;
}

.bloque__header {
    /*margin: 5px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header__logo img {
    width: 80px;
    height: auto;
}

.header__lista__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #bb2581;
    border-radius: 20px;
}

.header__link__menu {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.header__item__menu {
    font-size: 1em;
    list-style-type: none;
}

.bloque__welcome {
    max-width: 100vw;
    position: relative;
}

.welcome__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.156);
}

.welcome__titulo {
    font-size: 6em;
    font-weight: 900;
    text-align: center;
    color: #bb2581;
    text-shadow: 2px 3px #ffffff;
}

.welcome__subtitulo {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

.welcome__parrafo {
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
}

.welcome__video{
    max-width: 100%;
}

.bloque__demo{
    margin-top: 30px;
}

.demo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #c669a2;
    border-radius: 20px;
    margin: 20px;
}

.container__titulo{
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    margin: 20px;
    margin: 50px 10px 20px;
}

.img__section {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    row-gap: 10px;
    column-gap: 20px;
    padding: 10px;
}

.demo__img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 4px 2px #ffffffc8;
}

.bloque__solicitud {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.solicitud__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 500;
}

.solicitud__button {
    border-radius: 20px;
    padding: 5px;
    background-color: #bb2581;
    border: 2px solid #ffffff;
    box-shadow: 5px 3px #ffffff;
}

.historia--grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 300px;
    row-gap: 100px;
}

.historia__container{
    padding: 20px;
    border: 1px solid rgb(68, 47, 47);
    border-radius: 20px;
    background-color: #79064d;
    box-shadow: 5px 5px #c669a2;
}

.historia__container:hover{
    background-color: #c669a2;
    border: 1px solid #ffffff;
}

.historia--order{
    order: 1;
}

.historia__titulo {
    font-size: 2em;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

.historia__parrafo{
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}

.historia--em{
    font-style: italic;
    font-weight: 500;
    color: #ff46b8;
}

.historia__multimedia{
    justify-self: center;
    align-self: center;
}

.historia__img {
    width: 200px;
    height: auto;
    border-radius: 50px;
    box-shadow: 4px 4px #c669a2;
}

.historia__img:hover{
    box-shadow: 4px 4px #79064d;
}


.market__parrafo{
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
}

.market__filtros{
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c669a2;
    border-radius: 20px;
}

.filtro__text{
    color: #ffffff;
}

.search {
    padding: 5px;
    border: 2px dotted #79064d;
    border-radius: 20px;
    width: 300px;
}

.select__option{
    padding: 5px;
    border: 2px solid #79064d;
    border-radius: 20px;
    width: 200px;
}

.option--titulo{
    color: #bb2581;
}

.option__name{
    color: black;
}

.producto__cart__link{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.market__productos__cards {
    padding: 10px;
    overflow: scroll;
    height: 1200px;
}

.productos__section{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.producto__card{
    width: auto;
    height: auto;
    margin: 10px;
    padding: 7px;
    border: 1px solid #79064d;
    border-radius: 20px;
    box-shadow: 2px 1px 5px #0000008a;
}

.producto__img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.producto__info{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.producto__name{
    font-size: 1em;
    font-weight: bold;
    color: #79064d;
}

.producto__detalle{
    font-size: 1em;
    color: black;
}

.producto__priceAndButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.producto__button__link{
    text-decoration: none;
    color: #ffffff;
    background-color: #bb2581;
    padding: 5px 10px;
    border-radius: 50px;
}

.testimonios__reviews{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.testimonio__card{
    width: auto;
    height: auto;
    margin: 5px;
    padding: 10px;
    border: 1px solid #79064d;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #c669a2;
}

.testimonio__img{
    width: 100%;
    height: 50%;
    border-radius: 5px;
    object-fit: cover;
}

.testimonio__text{
    width: 100%;
    height: 50%;
    padding: 20px;
    align-items: center;
}

.testimonio__name{
    font-size: 1em;
    color: #79064d;
    text-align: center;
}

.testimonio__parrafo{
    font-size: 1em;
    color: black;
}

.faqs__preguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.preguntas__card{
    margin: 5px;
    padding: 10px;
    border: 1px solid #79064d;
    border-radius: 20px;
}

.preguntas__titulo{
    font-size: 1em;
    color: #79064d;
}

.contacto__welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.section__contacto{
    margin: 50px;
    padding: 20px;
    border: 2px solid #c669a2;
    border-radius: 20px;
    background-color: #79064d;
}

.forms--color{
    color: #ffffff;
}

.forms__datos{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.datos__personales{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 300px;
}

.dato--area{
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.forms__buttons{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.enviar__button{
    padding: 7px;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    color: #79064d;
    box-shadow: 4px 1px black
}

.contacto__whatsapp{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 50%;
}

.whatsapp__link{
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    background-color: rgb(45, 255, 45);
    border-radius: 50px;
}

.bloque__footer {
    margin: 25px;
}

.footer__list__redes {
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
}

.footer__titulo {
    text-align: center;
    color: #bb2581;
}

.footer__redes__link {
    color: #bb2581;
    text-decoration: none;
}

.footer__redes__item {
    list-style-type: none;
}

.footer__copyright{
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    color: rgb(41, 146, 41);
}

.copyright__link {
    font-size: 1em;
    color: rgb(25, 255, 25);
    text-decoration: underline;
}

@media only screen and (min-width: 350px) and (max-width: 480px){

    .gral--margin{
        margin: 20px;
    }

    .header__lista__menu{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .welcome__titulo{
        font-size: 5em;
    }

    .welcome__parrafo{
        font-size: 1em;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .img__section{
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .container__titulo{
        color: #c669a2;
    }

    .demo__container{
        background-color: #ffffff00;
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .demo__img{
        width: 100%;
        height: auto;
        box-shadow: 4px 2px #c669a2;
    }

    .historia--grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .bloque__contacto{
        padding: 10px;
    }

    .forms__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .forms__buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .buttons__adjuntar{
        text-align: center;
    }

    .adjunto__button{
        width: 200px;
    }

    .contacto__whatsapp{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .contacto__titulo{
        text-align: center;
    }

    .section__contacto{
        margin: 10px 0;
    }

    .forms__subtitulo{
        text-align: center;
    }

    .datos__personales{
        width: 200px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        box-shadow: none;
        width: 100px;
    }

    .solicitud__link{
        font-size: 1em;
    }

    .bloque__solicitud{
        right: 20px;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(1,auto);
    }

    .testimonio__card{
        width: auto;
    }

    .market__filtros{
        flex-direction: column;
        gap: 10px;
    }

    .productos__section{
        grid-template-columns: repeat(1, auto);
    }

}

@media only screen and (min-width: 481px) and (max-width: 576px){

    .gral--margin{
        margin: 20px 50px;
    }

    .demo__container{
        padding: 20px;
    }

    .img__section{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .bloque__solicitud{
        width: 80px;
        height: auto;
        right: 30px;
        bottom: 40px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        box-shadow: none;
    }

    .solicitud__link{
        font-size: 1em;
    }

    .historia--order{
        order: -1;
    }

    .historia__container{
        display: flex;
        flex-direction: column;
    }

    .historia--grid{
        row-gap: 10px;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .header__lista__menu{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .section__contacto{
        margin: 10px;
    }

    .contacto__titulo{
        text-align: center;
    }

    .forms__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .datos__personales{
        width: 250px;
    }

    .forms__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .buttons__adjuntar{
        text-align: center;
    }

    .adjunto__button{
        width: 200px;
    }

    .contacto__whatsapp{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(1,auto);
    }

    .testimonio__card{
        width: auto;
    }

    .market__filtros{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .productos__section{
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {

    .gral--margin{
        margin: 20px 50px;
    }

    .demo__container{
        padding: 20px;
    }

    .bloque__solicitud{
        width: 100px;
        height: auto;
        right: 30px;
        bottom: 40px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        box-shadow: none;
    }

    .solicitud__link{
        font-size: 1em;
    }

    .img__section{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .demo__img{
        box-shadow: 4px 2px #c669a2;
    }

    .demo__container{
        background-color: #ffffff00;
    }

    .container__titulo{
        color: #c669a2;
    }

    .header__lista__menu{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .historia--order{
        order: -1;
    }

    .historia--grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .section__contacto{
        margin: 10px;
    }

    .forms__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .forms__buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .buttons__adjuntar{
        text-align: center;
    }

    .adjunto__button{
        width: 200px;
    }

    .contacto__whatsapp{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .contacto__titulo{
        text-align: center;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(2,auto);
    }

    .testimonio__card{
        width: auto;
    }

    .market__filtros{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .productos__section{
        grid-template-columns: repeat(3, auto);
        row-gap: 20px;
    }

    .producto__card{
        margin: 0;
        padding: 5px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .gral--margin{
        margin: 20px 50px;
    }

    .header__lista__menu{
        padding: 10px;
        background-color: #ffffff;
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
        font-size: 1.5em;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .historia--grid{
        grid-template-rows: auto;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .contacto__whatsapp{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .contacto__titulo{
        text-align: center;
    }

    .forms__datos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .forms__buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .section__contacto{
        margin: 20px;
    }

    .img__section{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        row-gap: 10px;
        column-gap: 10px;
    }

    .bloque__solicitud{
        width: 100px;
        height: auto;
        right: 50px;
        bottom: 40px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        background-color: #79064d;
        box-shadow: none;
    }

    .solicitud__link{
        font-size: 1.5em;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(2,auto);
    }

    .testimonio__card{
        width: auto;
    }

    .market__filtros{
        justify-content: center;
        align-items: end;
        gap: 2px;
    }

    .productos__section{
        grid-template-columns: repeat(4, auto);
        column-gap: 5px;
        row-gap: 10px;
    }

    .producto__card{
        margin: 2px;
        padding: 5px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .gral--margin{
        margin: 150px 50px 50px;
    }

    .header__item__menu {
        font-size: 1.5em;
        border: 1px solid #ffffff;
        border-radius: 20px;
    }

    .header__lista__menu{
        padding: 5px;
    }

    .historia--grid{
        grid-template-rows: auto;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .bloque__solicitud{
        width: 100px;
        height: auto;
        right: 80px;
        bottom: 50px;
    }

    .solicitud__button{
        border: 5px dotted #ffffff;
        background-color: #79064d;
        box-shadow: none;
    }

    .solicitud__link{
        font-size: 2em;
    }

    .testimonios__reviews{
        grid-template-columns: repeat(3, auto);
    }

    .testimonio__card{
        width: auto;
    }

    .producto__card{
        margin: 5px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {

    .gral--margin{
        margin: 150px 50px 50px;
    }

    .header__item__menu {
        border: 1px solid #ffffff;
        border-radius: 20px;
    }

    .header__lista__menu{
        padding: 5px;
    }

    .historia--grid{
        grid-template-rows: auto;
    }

    .bloque__historia{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .testimonio__card{
        width: auto;
    }

}
