@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.gral--margin {
    margin: 150px;
}

.bloque__bottom--margin{
    margin-bottom: 75px;
}

.bloque__header {
    /*margin: 5px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header__logo img {
    width: 80px;
    height: auto;
}

.header__lista__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #bb2581;
    border-radius: 20px;
}

.header__link__menu {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.header__item__menu {
    font-size: 1em;
    list-style-type: none;
}

.bloqe__main{
    width: 100vw;
}

.bloque__welcome {
    width: 100vw;
    position: relative;
}

.welcome__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.156);
}

.welcome__titulo {
    font-size: 6em;
    font-weight: 900;
    text-align: center;
    color: #bb2581;
    text-shadow: 2px 3px #ffffff;
}

.welcome__subtitulo {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

.welcome__parrafo {
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
}


.welcome__video{
    width: 100vw;
}

.bloque__demo{
    margin: 20px 150px;
}

.demo__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__titulo{
    font-size: 2em;
    font-weight: 500;
    color: #bb2581;
    align-self: center;
    margin: 20px;
    width: 200px;
    height: auto;
}

.img__section {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 200px);
    row-gap: 5px;
    column-gap: 5px;
}

.demo__img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 2px 1px #79064d;
}

.bloque__solicitud {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.solicitud__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 500;
}

.solicitud__button {
    border-radius: 20px;
    padding: 5px;
    background-color: #bb2581;
    border: 2px solid #ffffff;
    box-shadow: 5px 3px #ffffff;
}

.historia--grid{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 300px;
    row-gap: 100px;
}

.historia__container{
    padding: 20px;
    border: 1px solid rgb(68, 47, 47);
    border-radius: 20px;
    background-color: #79064d;
    box-shadow: 5px 5px #c669a2;
}

.historia__container:hover{
    background-color: #c669a2;
    border: 1px solid #ffffff;
}

.historia--order{
    order: 2;
}

.historia__titulo {
    font-size: 2em;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

.historia__parrafo{
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}

.historia--em{
    font-style: italic;
    font-weight: 500;
    color: #ff46b8;
}

.historia__multimedia{
    justify-self: center;
    align-self: center;
}

.historia__img {
    width: 200px;
    height: auto;
    border-radius: 50px;
    box-shadow: 4px 4px #c669a2;
}

.historia__img:hover{
    box-shadow: 4px 4px #79064d;
}

.market__welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.market__titulo {
    font-size: 5em;
    font-weight: 600;
    color: #bb2581;
}

.market__parrafo{
    font-size: 1em;
    font-style: italic;
    font-weight: 500;
}

.market__filtros{
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #79064d;
    border-radius: 20px;
}

.filtro__text{
    color: #ffffff;
}

.search {
    padding: 5px;
    border: 2px dotted #79064d;
    border-radius: 20px;
    width: 300px;
}


.select__option{
    padding: 5px;
    border: 2px solid #79064d;
    border-radius: 20px;
    width: 200px;
}

.option--titulo{
    color: #bb2581;
}

.option__name{
    color: black;
}

.market__productos__cards {
    border: 1px solid #79064d;
    border-radius: 20px;
/*     margin: 50px 10px 50px 10px ;
 */    padding: 10px;
    overflow: scroll;
    height: 1200px;
    width: auto;
}

.grid__productos{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    row-gap: 20px;
}

.producto__container {
    border: 1px solid #79064d;
    border-radius: 20px;
    width: 200px;
    height: auto;
}

.grid__indiv__producto{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px;
}

.producto__img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 5px;
}

.producto__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    padding: 5px;
}
.producto__name{
    font-size: 1em;
    align-self: center;
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.producto__priceAndButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2px;
    margin: 5px;
    margin-top: 0;

}

.producto__button__link {
    text-decoration: none;
    font-size: 30px;
    background-color: #bb2581;
    color: white;
    border-radius: 50px;
    padding: 2px;
}


.testimonios__section{
    padding: 20px;
    border: 1px solid #79064d;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(1, 100%);
    column-gap: 10px;
}

.testimonio__card{
    padding: 10px;
    border: 1px solid #79064d;
    border-radius: 20px;
    background-color: #c669a2;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonio__img{
    width: 100px;
    height: auto;
    border-radius: 20px;
}


.bloque__faqs{
    border: 1px solid #79064d;
    border-radius: 20px;
}

.faqs__titulo{
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: #bb2581;

}

.bloque__preguntas{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faqs__preguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.preguntas__card{
    margin: 5px;
    padding: 10px;
    border: 1px solid #79064d;
    border-radius: 20px;
}

.preguntas__titulo{
    font-size: 1em;
    color: #79064d;
}

.bloque__contacto{
    border: 1px solid #79064d;
    border-radius: 20px;
    padding: 20px;
}

.contacto__welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contacto__titulo{
    font-size: 2em;
    color: #bb2581;
}

.section__contacto{
    margin: 50px;
    padding: 20px;
    border: 2px solid #c669a2;
    border-radius: 20px;
    background-color: #79064d;
}

.forms--color{
    color: #ffffff;
}

.forms__datos{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.datos__personales{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 300px;
}

.dato--area{
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.forms__buttons{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.enviar__button{
    padding: 7px;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    color: #79064d;
}

.contacto__whatsapp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.whatsapp__link{
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    background-color: rgb(45, 255, 45);
    border-radius: 50px;
}


.bloque__footer {
    margin: 25px;
}

.footer__list__redes {
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
}

.footer__titulo {
    text-align: center;
    color: #bb2581;
}

.footer__redes__link {
    color: #bb2581;
    text-decoration: none;
}

.footer__redes__item {
    list-style-type: none;
}

.footer__copyright{
    text-align: center;
    color: rgb(41, 146, 41);
    font-weight: bold;
    font-family: monospace;
}

.copyright__link{
    font-size: 1em;
    color: rgb(25, 255, 25);
}


@media only screen and (max-width: 576px){
    .bloque__historia{
        margin: 50px 150px;
    }

    .historia__container{
        display: flex;
        flex-direction: column;
    }

    .footer__list__redes{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-decoration: underline #c669a2;
    }

    .footer__redes__link{
        color: #79064d;
    }

    .header__lista__menu{
        display: grid;
        grid-template-columns: repeat(3,33%);
        grid-template-rows: repeat(2,20px);
        padding: 10px;
        background-color: #ffffff;
    }

    .header__item__menu{
        border: 1px solid #79064d;
        border-radius: 20px;
    }

    .header__link__menu{
        color: #79064d;
    }

    .bloque__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .bloque__faqs{
        margin: 50px 150px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .historia__container{
        grid-template-rows: 400px;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
}