@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

header {
    /*margin: 5px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo img {
    width: 80px;
    height: auto;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #bb2581;
    border-radius: 20px;
}

.menu-list a {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

nav ul li {
    font-size: 1em;
    list-style-type: none;
}

.video-welcome video {
    width: 100vw;
    height: 100vh;
}

.welcome {
    position: relative;
}

.welcome-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.547);
}

.welcome h1 {
    font-size: 6em;
    font-weight: 900;
    text-align: center;
    color: #bb2581;
}

.welcome h3 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    color: #c669a2;
    font-style: italic;
}

.welcome p {
    padding: 10px;
    font-size: 2em;
    text-align: center;
    color: #79064d;
}

.img-section h2 {
    font-size: 2em;
    font-weight: 500;
    color: #bb2581;
    text-align: center;
    margin: 20px;
}

.tortas-tematicas-img,
.number-letter-cakes-img,
.tartas-clasicas-img {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 150px);
    justify-content: end;
    align-items: end;
    row-gap: 5px;
    column-gap: 5px;
}

.tendencias-img,
.mini-pasteleria-img {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 150px);
    justify-content: start;
    align-items: start;
    row-gap: 5px;
    column-gap: 5px;
}

.tortasTematicas,
.numberLetterCakes,
.tartasClasicas {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.tortasTematicas h2,
.numberLetterCakes h2,
.tartasClasicas h2 {
    align-self: center;
    width: 200px;
    height: auto;
}

.tendencias,
.miniPasteleria {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.tendencias h2,
.miniPasteleria h2 {
    align-self: center;
    width: 200px;
    height: auto;
}

.img-section img {
    width: 150px;
    height: 150px;
}

.solicitud {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.solicitud a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
}

.solicitud button {
    border-radius: 20px;
    padding: 5px;
    background-color: #bb2581;
    border: 5px dotted #ffffff;
}

.sobreMi-section {
    margin: 150px 100px;
}

.aboutCocinera, .aboutMorango{
    margin: 50px;
}

.cocineraInfo, .morangoInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cocineraInfo img, .morangoInfo img{
    width: 200px;
    height: auto;
    border-radius: 50px;
}

.productos-market{
    margin: 150px;
}

.productos-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.productos-cards{
    margin: 50px 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px dotted #79064d;
}

.producto-container{
    border: 1px solid #79064d;
    border-radius: 20px;
    width: 150px;
    height: auto;
    overflow: hidden;
}

.producto-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info-producto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-producto a{
    align-self: flex-end;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid #79064d;
    border-radius: 100px;
    margin: 10px;
}


.testimonios{
    margin: 150px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.testimonios img{
    width: 100px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #79064d;
}

.cardTestimonio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px dotted #79064d;
    border-radius: 20px;
}

.faqs {
    margin: 150px;
}

.forms{
    margin: 150px;
}

footer {
    margin: 25px;
}

.redes-icons {
    margin: 50px;
}

footer ul {
    display: flex;
    justify-content: space-around
}

footer h4 {
    text-align: center;
    color: #bb2581;
}

footer a {
    color: #bb2581;
    text-decoration: none;
}

footer li {
    list-style-type: none;
}

footer ul {
    text-align: center;
}

.copyright {
    text-align: center;
}